---
import { CollectionEntry, getCollection } from "astro:content";
import BlogEntry from "@components/BlogEntry.astro";
import CommonLayout from "@layouts/CommonLayout.astro";
import config from "@config";

export async function getStaticPaths({ paginate }) {
    const blogs = await getCollection("blog");
    // Filter out posts that are in the future
    const publishedBlogs = blogs
        .filter((b) => b.data.pubDate.getTime() < new Date().getTime())
        .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());

    return paginate(publishedBlogs, { pageSize: config.pagination.blog });
}
const { page } = Astro.props;
---

<CommonLayout>
    <h1 class="text-xl mb-3">
        {
            page.currentPage == 1
                ? "I post about all sorts of things, but here are the my latest posts:"
                : "And here are some other posts:"
        }
    </h1>

    {
        page.lastPage != 1 ? (
            <h2>
                Page {page.currentPage} of {page.lastPage}
            </h2>
        ) : (
            ""
        )
    }
    <ol>
        {
            page.data.map((blog) => (
                <li>
                    <BlogEntry entry={blog} />
                </li>
            ))
        }
    </ol>
    {page.url.prev ? <a href={page.url.prev}>Previous</a> : null}
    {page.url.next ? <a href={page.url.next}>Next</a> : null}
</CommonLayout>
