---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Base from "@layouts/Base.astro";
import { businessSkills, softwareSkills } from "./skills";

import config from "@config";
import StyledProse from "@components/StyledProse.astro";
import SkillList from "@components/SkillList.astro";
import Markdown from "@components/Markdown.astro";


import fs from 'node:fs/promises';

const me = await fs.readFile(new URL('./_me.md', import.meta.url), 'utf-8');
const skills = await fs.readFile(new URL('./_skills.md', import.meta.url), 'utf-8');
---

<Base title="Profile" description="Me, what I do, and what I am interested in.">
    <Header />
    <main
        class="md:mx-auto w-screen lg:max-w-5xl p-4 md:p-12 bg-stone-50 text-stone-900"
    >
        <h1 class="font-bold text-5xl mb-8 text-center">{config.author}</h1>
        <h2 class="font-bold text-xl mb-4">
            This page is a quick glimpse into who I am, what I do, and what I
            like.
        </h2>
        <hr class="mb-8" />
        <section id="me">
            <StyledProse>
                <Markdown markdown={me}/>
            </StyledProse>
        </section>
        <section id="skills">
        <StyledProse>
            <Markdown markdown={skills}/>
        </StyledProse>
            <SkillList title="Business" skills={businessSkills}/>
            <SkillList title="Engineering" skills={businessSkills}/>
            <SkillList title="Technologies" skills={businessSkills}/>
            <SkillList title="Interpersonal" skills={businessSkills}/>
        </section>        
    </main>
    <Footer />
</Base>
