---
import type { CollectionEntry } from "astro:content";
import Tag from "@components/Tag.astro";

interface Props {
  entry: CollectionEntry<"blog">;
}

const { entry } = Astro.props;
---

<article>
  <header>
    <h1>
      <a href={`/blog/${entry.slug}`}>{entry.data.title}</a>
    </h1>
    <h3>{entry.data.pubDate.toDateString()}</h3>
    <ul>
      {
        entry.data.tags.map((tag) => (
          <li>
            <Tag tag={tag} />
          </li>
        ))
      }
    </ul>
  </header>
  {entry.data.description ? <p>{entry.data.description}</p> : ""}
</article>
