---
import { getBlogPost } from "@lib/blogs";
import Link from "./Link.astro";
import Tag from "./Tag.astro";

interface Props {
  postSlug: string;
}

const { postSlug } = Astro.props;

const blogEntry = await getBlogPost(postSlug);
---

{
  blogEntry ? (
    <article class="p-2">
      <h1 class="font-bold text-xl">
        <Link href={`/blog/${blogEntry.slug}`}>{blogEntry.data.title}</Link>
      </h1>
      <h2>{blogEntry.data.description}</h2>
      <aside
        class="flex flex-row justify-between mb-2"
        title={`post metadata ${blogEntry.slug}`}
      >
        <p>Published on {blogEntry.data.pubDate.toLocaleDateString()}</p>
        <p>
          Tags:{" "}
          {blogEntry.data.tags.map((tag) => (
            <Tag tag={tag} suffix=";" />
          ))}
        </p>
      </aside>
    </article>
  ) : (
    ""
  )
}
