---
import type { Link } from "@lib/links";

import config from "@config";
import { getTopTagsThenRemainder } from "@lib/tags";

interface Props {
  links?: Link[];
}

const { links = config.footer.links } = Astro.props;
const [topTags, _] = await getTopTagsThenRemainder(3);
---

<footer>
  <p>All rights reserved, {config.author}.</p>
  <section>
    <nav>
      {links.map((link) => <a href={link.href}>{link.text}</a>)}
    </nav>
    <nav>
      <h1>Top tags:</h1>
      <ol>
        {
          topTags.map((tag) => (
            <li>
              <a href={`/tags/${tag}`}>{tag}</a>
            </li>
          ))
        }
      </ol>
    </nav>
  </section>
</footer>
