---
import config from "@config";
import { getTopTagsThenRemainder } from "@lib/tags";
import Link from "@components/link/Link.astro";
import Tag from "@components/tag/Tag.astro";
import LicenseBadge from "@components/LicenseBadge.astro";
import Author from "@components/Author.astro";

const { socialLinks } = config;
const { links } = config.footer;
const [topTags, _] = await getTopTagsThenRemainder(3);
---

<footer
  class="md:max-w-xl mx-auto p-6 py-12 text-neutral-50 text-sm font-bold tracking-wider text-center"
>
  <Author />
  <nav class="flex justify-center gap-4 mt-4 mb-8" title="footer navigation">
    {links.map((link) => <Link href={link.href}>{link.text}</Link>)}
  </nav>
  <nav>
    <ol class="flex flex-row justify-between gap-2 md:gap-4">
      <li>Top <Link href="/tags">tags</Link>:</li>
      {
        topTags.map((tag) => (
          <li>
            <Tag tag={tag} />
          </li>
        ))
      }
    </ol>
  </nav>
  <ul class="flex flex-row justify-between flex-wrap gap-2 md:gap-4 mb-4">
    <li>Contact me:</li>
    {
      socialLinks.map((link) => (
        <li>
          <Link href={link.link} rel="me">
            {link.name}
          </Link>
        </li>
      ))
    }
  </ul>
  <LicenseBadge />
</footer>
