---
import Link from "@components/Link.astro";
const licenseIdentifier = "by-sa/4.0";
const licenseLink = `http://creativecommons.org/licenses/${licenseIdentifier}/`;
const licenseName =
  "Creative Commons Attribution-ShareAlike 4.0 International License";
---

<article class="flex flex-col gap-2 p-2 align-middle justify-center">
  <a rel="license" href={licenseLink} class="w-fit m-auto">
    <img
      alt="Creative Commons License"
      title={licenseName}
      src={`https://i.creativecommons.org/l/${licenseIdentifier}/80x15.png`}
    />
  </a>
  <p class="text-xs tracking-tight">
    This work is licensed under a <Link rel="license" href={licenseLink}>
      {licenseName}
    </Link>.
  </p>
</article>
