---
import Announcement from "@components/Announcement.astro";
import BaseHead from "@components/BaseHead.astro";

const { title } = Astro.props.frontmatter || Astro.props;

import Config from "@config";
const { author, description, keywords, announcement } = Config;
---

<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <BaseHead
            title={title}
            author={author}
            description={description}
            keywords={keywords}
        />
    </head>
    <body class="bg-zinc-100 text-zinc-900 dark:bg-zinc-900 dark:text-zinc-100 min-w-screen min-h-screen">
        {announcement?<Announcement text={announcement}/>:null}
        <slot />
    </body>
</html>
