---
import Announcement from "@components/Announcement.astro";
import BaseHead from "@components/BaseHead.astro";
import Config from "@config";

interface Props {
  title?: string;
  frontmatter?: any;
}
const { author, description, keywords, announcement } = Config;

const title = Astro.props.frontmatter?.title
  ? `${Astro.props.frontmatter.title} - gohector.com`
  : Astro.props.title || "";
---

<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <BaseHead
      title={title}
      author={author}
      description={description}
      keywords={keywords}
    />
  </head>
  <body>
    {announcement ? <Announcement text={announcement} /> : null}
    <slot />
  </body>
</html>
